<form class="form" id="contact-form" itemscope itemtype="http://schema.org/ContactPage">
  <div class="form__group">
    <input type="text" class="form__input" id="name" name="name" required placeholder=" " itemprop="name">
    <label for="name" class="form__label">Ваше имя</label>
  </div>
  
  <div class="form__group">
    <input type="email" class="form__input" id="email" name="email" required placeholder=" " itemprop="email">
    <label for="email" class="form__label">Email</label>
  </div>
  
  <div class="form__group">
    <input type="tel" class="form__input" id="phone" name="phone" placeholder=" " itemprop="telephone">
    <label for="phone" class="form__label">Телефон (необязательно)</label>
  </div>
  
  <div class="form__group">
    <textarea class="form__textarea" id="message" name="message" required placeholder=" " itemprop="message"></textarea>
    <label for="message" class="form__label">Сообщение</label>
  </div>
  
  <input type="hidden" name="form_type" value="Контактная форма">
  <button type="submit" class="button button--primary form__button">Отправить сообщение</button>
</form>