<header class="header" itemscope itemtype="http://schema.org/WPHeader">
  <div class="container header__container">
    <div class="header__logo">
      <a href="{{ '/' | relative_url }}" class="logo" itemprop="url">
        <img src="{{ '/images/logo.webp' | relative_url }}" alt="Веб-разработка и SEO сопровождение">
        <span class="logo__description">Частное seo и web-разработка</span>
      </a>
    </div>
    
    <nav class="header__nav nav" itemscope itemtype="http://schema.org/SiteNavigationElement">
      <button class="nav__toggle" aria-label="Меню">
        <span class="nav__toggle-line"></span>
      </button>
      
      <ul class="nav__list">
        <li class="nav__item">
          <a href="#hero" class="nav__link" itemprop="url">Главная</a>
        </li>
        <li class="nav__item">
          <a href="#about" class="nav__link" itemprop="url">Обо мне</a>
        </li>
        <li class="nav__item">
          <a href="#services" class="nav__link" itemprop="url">Услуги</a>
        </li>
        <li class="nav__item">
          <a href="#portfolio" class="nav__link" itemprop="url">Портфолио</a>
        </li>
        <li class="nav__item">
          <a href="#reviews" class="nav__link" itemprop="url">Отзывы</a>
        </li>
        <li class="nav__item">
          <a href="#contact" class="nav__link" itemprop="url">Контакты</a>
        </li>
      </ul>
    </nav>
    
    <div class="header__contacts">
      <a href="tel:+79915048150" class="contact-phone" itemprop="telephone">+7 (991) 504-81-50</a>
      <button class="button button--callback" data-modal="callback">Заказать звонок</button>
    </div>
  </div>
</header>