<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{% if page.title %}{{ page.title }}{% else %}Частный SEO специалист и Web-разработчик{% endif %}</title>
<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}Опытный частный веб разработчик и SEO специалист. Создаю и поддерживаю сайты на 1С-Битрикс, Wordpress, MODX и др.{% endif %}">
<link rel="stylesheet" href="/css/main.css">
<link rel="icon" href="/favicon.ico" type="image/x-icon">