<!DOCTYPE html>
<html lang="ru" itemscope itemtype="http://schema.org/WebPage">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Частный SEO специалист и Web-разработчик — создание, поддержка и продвижение сайтов</title>
	<meta name="description" content="Опытный частный веб разработчик и SEO специалист. Создаю и поддерживаю сайты на 1С-Битрикс, Wordpress, MODX и др. Предлагаю качественное частное SEO продвижение и оптимизацию сайта!">
	<link rel="stylesheet" href="css/main.css">
	<!-- Favicon -->
	<link rel="icon" href="favicon.ico" type="image/x-icon">
</head>