<header class="header" itemscope itemtype="http://schema.org/WPHeader">
  <div class="container header__container">
    <div class="header__logo">
      <a href="{{ '/' | relative_url }}" class="logo" itemprop="url">
        <img src="{{ '/assets/images/logo.webp' | relative_url }}" alt="Веб-разработка и SEO сопровождение">
        <span class="logo__description">Частное seo и web-разработка</span>
      </a>
    </div>
    
    <nav class="header__nav nav" itemscope itemtype="http://schema.org/SiteNavigationElement">
      <button class="nav__toggle" aria-label="Меню">
        <span class="nav__toggle-line"></span>
      </button>
      
      <ul class="nav__list">
        {% for item in site.data.navigation %}
          <li class="nav__item">
            <a href="{{ item.url | relative_url }}" class="nav__link" itemprop="url">{{ item.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
    
    <div class="header__contacts">
      <a href="tel:{{ site.phone }}" class="contact-phone" itemprop="telephone">{{ site.phone }}</a>
      <button class="button button--callback" data-modal="callback">Заказать звонок</button>
    </div>
  </div>
</header>