<script src="{{ '/assets/js/main.js' | relative_url }}"></script>
<script src="{{ '/assets/js/slider.js' | relative_url }}"></script>
<script src="{{ '/assets/js/modal.js' | relative_url }}"></script>
<script src="{{ '/assets/js/form.js' | relative_url }}"></script>
<script src="{{ '/assets/js/send-telegram.js' | relative_url }}" defer></script>

{% if site.yandex_metrika %}
<script>
  (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
  m[i].l=1*new Date();
  k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
  (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
  ym({{ site.yandex_metrika }}, "init", {
    clickmap:true,
    trackLinks:true,
    accurateTrackBounce:true,
    webvisor:false
  });
</script>
<noscript><div></div></noscript>
{% endif %}